body {
    background: #212121;
}


/*导航条样式*/

.main {
    width: 1275px;
    background-color: #fff;
    margin: 0 auto;
}

.nav {
    height: 55px;
    line-height: 55px;
    padding: 0 50px;
}

div.nav h1 {
    float: left;
    font-size: 22px;
    font-family: 黑体;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
    padding-left: 55px;
}

div.nav ul {
    float: right;
    font-family: 微软雅黑;
}

div.nav ul li {
    float: left;
    font-size: 16px;
    margin-left: 10px;
}

div.nav ul li a {
    display: block;
    text-align: center;
    width: 100px;
    color: #808388;
    text-decoration: none;
}

div.nav ul a:hover {
    color: red;
    border-bottom: 4px red solid;
}

li.login {
    background-image: url(img/user.png);
    background-repeat: no-repeat;
    background-position: 30px 5px;
    padding-left: 25px;
}

div.nav ul .login a {
    color: red;
}


/*导航条样式结束*/

div.info {
    height: 688px;
    width: 1275px;
    overflow: hidden;
    background-image: url(img/info.png);
    background-repeat: no-repeat;
    color: #fff;
}

.info div {
    margin-left: 150px;
    margin-top: 260px;
}

div.info h2 {
    font-size: 64px;
    margin-bottom: 10px;
}

div.info p {
    font-size: 20px;
}

p.go {
    height: 65px;
    width: 330px;
    line-height: 65px;
    background-color: #E8504F;
    text-align: center;
    margin-top: 65px;
}


/*公司理念介绍区域样式*/

.slogan {
    height: 250px;
    padding: 40px 0;
}

.slogan .sblock {
    width: 316px;
    text-align: center;
    float: left;
}

.sblock p {
    margin-top: 36px;
    padding: 5px 70px;
    border-right: 2px #ededed solid;
}

div.sblock:last-child p {
    border-right: none;
}
/*地区部分*/

#new_world_acti .banner{
  width:1275px;
  height:360px;
  background-color: #EDEDED;
  text-align: center;
  padding-top: 100px;
}
#new_world_acti .banner .title{
  font-size: 53.59px;
  color:#8F8D8E;
  font-family: "黑体";
  margin-top: 52px;
}

#new_world_acti{
   margin-left: 37px
}
/*城市查找部分*/
#new_world_acti .search_page{
  position: relative;
  width:1275px;
  height:340px;
  padding-top: 53px;
  text-align: center;
  background: url(img/map.png);
  background-size: cover;
}
#new_world_acti .search_page .title{
  font-size: 21px;
  font-weight: normal;
  font-family: "微软雅黑";
  color: white;
  text-align: center;
}
#new_world_acti .search_page .info{
  font-size: 12px;
  color: white;
  text-align: center;
  font-family: "微软雅黑";
  }
#new_world_acti .search_page form{
  display: inline-block;
  margin-top:50px;
  }
#new_world_acti #submit{
  display: inline-block;
  width:236px;
  height:36px;
  background-color: #BE4E48;
  font-size: 14px;
  color:white;
  font-family: "微软雅黑";
  border: none; 
  }
#new_world_acti .search_page .select{
  position: relative;
  display:inline-block;
  }
#new_world_acti .search_page form select{
  width:236px;
  height:36px;
  padding-left: 10px;
  font-size: 12px;
  color: #A9A6A6;
  appearance:none;
} 
#new_world_acti .search_page form select{
    border:1px solid #BE4F49;
}
#new_world_acti .search_page .select:after{
  content: '';
  width:20px;
  height:20px;
  position: absolute;
  display: inline-block;
  right:35px;
  top:50%;
  margin-top: -10px;
  background: url(img/bottom1.png);
  background-size: cover;
}
/*活动部分*/

#new_world_acti .acti_info{
  position: relative;
  width:1275px;
  height:450px;
  background-color: #F7F7F7;
  padding-top: 100px;

}
#new_world_acti .acti_info .info_list{
  display: inline-block;
  width:1275px;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

#new_world_acti .acti_info .part{
  display: inline-block;
  margin-left:36px;
}
#new_world_acti .acti_info .part.first{
  margin-left: 50px;
  } 
#new_world_acti .acti_info .part h4{
  margin:13px;
  text-align: center; 
  font-family: "微软雅黑";
}
#new_world_acti .acti_info .part p{
  text-align: center;
  font-family: "微软雅黑";
  font-size:12px;
  color:#828281;
  padding-bottom: 10px;
}
#new_world_acti .acti_info .part .album{
  width:219px;
  padding:12px 8px;
  margin-top:5px;
  background-color: white;
  border-top:1px solid #DCDCDD;
  border-left:1px solid #DCDCDD;
  border-right:1px solid #DCDCDD;
}
/*新世界部分*/

#new_world_info{
  width:1275px;
  height:1000px;
  background-color: white;
  margin-left: 37px;
}
#new_world_info .part_1{
  width:100%;
  height:566px;
  padding-right: 16px;
}
#new_world_info .part_1 .banner{
  background:url(img/line.png);
  background-size: cover;
  padding-top:134px;
  text-align: center;
  line-height: 1;
  position: relative;
  height:100%;
  width:66%;
  padding: 5px 10px;
  margin-right: 3px;
}
#new_world_info .part_1 .banner:after{
  content: '';
  width:0;
  height:0;
  border-right:30px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  right:-15px;
  top:50%;
  transform: translateX(-50%);
}

#new_world_info .part_1 .banner .line_1{
  font-size: 49.47px;
  color:white;
  font-family: "微软雅黑";
}
#new_world_info .part_1 .banner .line_2{
  font-size: 157.79px;
  color:white;
  font-family: "微软雅黑";
}
#new_world_info .part_1 .banner .line_3,.line_4{
  font-size: 21.91px;
  color:white;
  font-family: "微软雅黑";
}
#new_world_info .part_1 .info {
  position: relative;
  padding-top: 165px;
  width:34%;
  height:100%;
  background-color:#E84E4C; 
  text-align: center;
}
#new_world_info .part_1 .info p{
  width:292px;
  margin:0 auto;
  font-size:12px;
  color: #ACA7A7;
  font-family: "宋体";
  margin-top: 31px;
}
#new_world_info .part_1 .info h3{
  text-align: center;
  font-size:20px;
  color: black;
}
#new_world_info .part_1 .info h3 span{
  color: #E7504E;
}
#new_world_info .part_1 .info .btn{
  display: block;
  width:105px;
  height:33px;
  border: 1px solid #E4676A;
  text-align: center;
  color:#E4676A;
  line-height: 33px;
  margin-top: 51px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition:all 0.5s;
}
#new_world_info .part_1 .info .btn:hover{
  color:white;
  background-color: #E4676A;
}
#new_world_info .part_1 .info ul{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  margin-top: 26px;
}
#new_world_info .part_1 .info ul li{
  display: inline-block;
  width:12px;
  height:12px;
  border-radius: 50%;
  border:1px solid #929292;
  background-color: white;
  cursor: pointer;
}
#new_world_info .part_1 .info ul li.active{
  background-color: #929292;
}
#new_world_info .part_2{
  width:100%;
  height:521px;
}
#new_world_info .part_2 ul{
  width:100%;
  height:100%;
}
#new_world_info .part_2 li{
  float: left;
  width:33%;
  height:100%;
  text-align: center;
  font-size: 21px;
  font-family: "黑体";
  padding-top: 173px;
}
#new_world_info .part_2 li .btn{
  display: inline-block;
  width:170px;
  height:43px;
  margin-top: 25px;
  line-height: 43px;
  cursor: pointer;
  transition: all 0.5s;
}
#new_world_info .part_2 .first_part .btn:hover{
  color: #E8504E;
  background-color: white;
}
#new_world_info .part_2 .first_part{
  color: white;
  background-color: #E8504E;

}
#new_world_info .part_2 li.first_part .btn{
  border: 1px solid white ;
}
#new_world_info .part_2 .second_part{
  color:black;
  background-color: white;

}
#new_world_info .part_2 .second_part .btn:hover{
  color:white;
  background-color: #E8504E;
}
#new_world_info .part_2 li.second_part .btn{
  color: #E8504E;
  border: 1px solid #E8504E ;
}
#new_world_info .part_2 .third_part{
  position: relative;
  background: url(img/wait.png);
  background-size: cover;
}
#new_world_info .part_2 .third_part:after{
  content: '';
  width:0;
  height:0;
  border-left:30px solid white;
  border-top:15px solid transparent;
  border-bottom:15px solid transparent;
  position: absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
}
